/* COLORS */

$color-primary: #24D4D1;
$color-primary-light:#75F9F6 ;
$color-primary-dark: #185959;	

$color-secondary-light: #5FFAC7;
$color-secondary-dark:#71B9A1;

$color-tertiary-light:#AAF752;
$color-tertiary-dark:#325905;


$color-grey-light-1:#f7f7f7;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #FFF;
$color-black: #000;
$color-grey: #eee;

/* FONT */

$default-font-size: 1.6rem;

/* GRID */

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
